.os-dialog-container {
    @apply flex flex-col;
}

.os-dialog-header {
    @apply px-12 py-10 border-b border-white/5 bg-white/[0.02];
}

.os-dialog-body {
    @apply p-12 flex flex-col gap-10 overflow-y-auto max-h-[70vh];
    
    /* hide-scrollbar replacement */
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.os-dialog-footer {
    @apply px-12 py-10 bg-white/[0.02] border-t border-white/5 flex items-center justify-between;
}

.os-input-field {
    @apply flex flex-col gap-3;
}
