.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);

  h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    background-image: linear-gradient(100deg, #cba6f7, #f5c2e7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    width: 100%;
  }

  .mat-error {
    color: var(--ctp-red);
    font-size: small;
    text-align: center;
    margin-top: 0.2em;
  }

  mat-card {
    margin-top: 2em;
    padding: 2.5em 3em;
    border-radius: 16px;
    border: 1px solid #313244;
    background-color: var(--ctp-mantle) !important;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.login-spacer,
  form {
    width: 300px;
    min-width: 200px;
    max-width: 400px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1.2em;
    display: block;

    ::ng-deep .mat-mdc-input-element {
      color: var(--ctp-text);
    }
    ::ng-deep .mat-mdc-floating-label {
      color: var(--ctp-subtext1);
    }
    ::ng-deep .mat-mdc-input-element::placeholder {
      color: #b4befe;
    }

    &:hover ::ng-deep {
      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-color: #cba6f7 !important;
      }
      .mat-mdc-floating-label {
        color: #cba6f7 !important;
      }
    }

    &.mat-focused ::ng-deep {
      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-color: #cba6f7 !important;
      }
      .mat-mdc-floating-label {
        color: #cba6f7 !important;
      }
    }
  }

  button.login-btn-color {
    font-size: large;
    width: 100%;
    height: 48px;
    border-radius: 12px;
    background: var(--ctp-teal) !important;
    color: var(--ctp-crust) !important;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover:not(:disabled) {
      filter: brightness(1.1);
    }
  }

  button.login-btn-color:disabled {
    color: #6c7086 !important;
    background: #313244 !important;
    cursor: not-allowed;
    opacity: 0.6;
  }

  p {
    text-align: center;
    margin: 10px 0;
  }

  .toggle {
    color: var(--ctp-text);
    width: 100%;
    text-align: center;
    font-size: small;
  }
  .toggle span {
    color: #89dceb;
    font-weight: 900;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  div.login-spacer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 1.375rem;
    color: #a2abb4;
    font-family: 300;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
  }

  div.login-spacer::after {
    margin-left: 12px;
    border-bottom: 1px solid #313244;
  }

  div.login-spacer::before {
    margin-right: 12px;
    border-bottom: 1px solid #313244;
  }

  *::before,
  *::after {
    flex-grow: 1;
    height: 1px;
    content: '';
    box-sizing: border-box;
  }
}
