.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  

  h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    background-image: linear-gradient(100deg, #cba6f7,#f5c2e7);
    background-clip: text;
    color: transparent;
  }

  .mat-error {
    color: #bb303b;
    font-size: small;
    text-align: center;
    margin-top: 0.2em;
  }
  
  mat-card {
    margin-top: 2em;
    padding: 2em;
    border-radius: 12px; 
    border: 1px solid transparent;
    background-image: 
      linear-gradient(var(--app-bg), var(--app-bg)),
      linear-gradient(100deg, #f5c2e7, #cba6f7);
      background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  div.login-spacer,
  form {
    width: 300px;
    min-width: 200px;
    max-width: 400px;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1.2em;
    display: block;

  ::ng-deep .mat-mdc-input-element {
    color: var(--app-text);
  }
  ::ng-deep .mat-mdc-floating-label {
    color: var(--app-text) ;
  }
  ::ng-deep .mat-mdc-input-element::placeholder {
    color: #b4befe; 
  }

  &:hover ::ng-deep {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #fab387 !important; 
    }
    .mat-mdc-floating-label {
      color: #fab387 !important;
    }
  }
  
}

  button.login-btn-color {
    font-size: large;
    width: 100%;
    background: linear-gradient(50deg, #94e2d5, #f5c2e7, #fab387);
    color: #181825;
  }

  button.login-btn-color:disabled {
    color: #11111b;
    cursor: not-allowed;
    opacity: 0.6;
  }

  p {
    text-align: center;
    margin: 10px 0;
  }

  .toggle {
    color: var(--app-text);
    width: 100%;
    text-align: center;
    font-size: small;
  }
  .toggle span {
    color: #89dceb;
    font-weight: 900;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  div.login-spacer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    line-height: 1.375rem;
    color: #a2abb4;
    font-family: 300;
    margin-top: 1em;
    margin-bottom: 1em;

    // border: 1px solid green;
  }

  div.login-spacer::after {
    margin-left: 12px;
    border-bottom: 1px solid #a2abb4;
  }

  div.login-spacer::before {
    margin-right: 12px;
    border-bottom: 1px solid #a2abb4;
  }

  *::before,
  *::after {
    flex-grow: 1;
    height: 1px;
    content: '';
    box-sizing: border-box;
  }
}
